* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin: 0;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    display: flex;
    background-color: #CEB13D;
    min-height: 100vh;
}
.container {
    max-width: 300px;
    margin: 0 auto;
}
.header-page-boarding {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 8% 0;
}
.title-header {
    width: 80%;
}
.main-page-boarding {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-page-boarding {
    margin: 0;
    text-align: center;
    width: 70%;
    font-size: .9rem;
    padding: 5% 0;
}
.btn-boarding {
    border: none;
    border-radius: 30px;
    background-color: black;
    padding: 2% 6%;
    margin-top: 6%;
}
.btn-boarding a {
    color: #ffffff;
    font-size: 1rem;
}
.img-platform {
    width: 50%;
    padding: 6% 0 10% 0;
}
.footnote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    margin-top: auto;
}
.footnote p {
    text-align: center;
    font-size: 0.8rem;
    padding: 5% 0;
    width: 100%;
    margin: 0;
}
.contact a {
    width: 41px;
    height: 41px;
}
.contact img {
    width: 40px;
    height: 40px;
}

@media (min-width: 500px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    .header-page-boarding {
        padding: 0 0 6% 0;
    }
    .title-header {
        width: 60%;
    }
    .text-page-boarding {
        font-size: 1rem;
        padding: 4% 0;
    }
    .btn-boarding {
        margin-top: 4%;
    }
    .btn-boarding a {
        font-size: 1rem;
    }
    .img-platform {
        width: 40%;
        padding: 4% 0 6% 0;
    }
    .footnote p {
        font-size: 1rem;
    }
}

@media (min-width: 640px) {
    .header-page-boarding {
        padding: 2% 0 4% 0;
    }
    .title-header {
        width: 60%;
    }
    .text-page-boarding {
        width: 80%;
        font-size: 1.2rem;
        padding: 4% 0;
    }
    .btn-boarding {
        padding: 1.5% 6%;
    }
    .btn-boarding a {
        font-size: 1.2rem;
    }
    .img-platform {
        width: 35%;
        padding: 4% 0;
    }
    .footnote p {
        font-size: 1rem;
    }
}
@media (min-width: 768px) {
    .header-page-boarding {
        padding: 3% 0 3% 0;
    }
    .title-header {
        width: 45%;
    }
    .text-page-boarding {
        padding: 2% 0;
    }
    .btn-boarding {
        padding: 1% 4%;
    }
    .img-platform {
        width: 25%;
        padding: 2% 0;
    }
}
@media (min-width: 1024px) {
    .title-header {
        width: 35%;
    }
    .text-page-boarding {
        font-size: 1rem;
    }
    .btn-boarding {
        padding: 1% 2.5%;
    }
    .btn-boarding a {
        font-size: 1rem;
    }
    .img-platform {
        width: 25%;
    }
    .footnote p {
        font-size: 0.8rem;
    }
    .contact img {
        width: 30px;
    }

}
@media (min-width: 1280px) {
    .title-header {
        width: 30%;
    }
    .text-page-boarding {
        font-size: 0.9rem;
    }
    .btn-boarding a {
        font-size: 0.8rem;
    }
    .img-platform {
        width: 20%;
    }
}