* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #CEB13D;
}
.container {
    max-width: 300px;
    margin: 0 auto;
}
.header-page-boarding {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 20px;
}
.title-header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-header img {
    width: 250px;
}
.main-page-boarding {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.text-page-boarding {
    text-align: center;
    width: 250px;
    font-size: .9rem;
    margin-bottom: 25px;
}
.btn-boarding {
    cursor: pointer;
    border: none;
    border-radius: 30px;
    background-color: black;
    color: #ffffff;
    font-size: .9rem;
    padding: 7px 14px;
}
.img-platform {
    width: 200px;
    padding: 20px;
}
.footer-ph {
    bottom: 0;
}
.footnote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.footnote p {
    color: black;
    text-align: center;
    font-size: 0.8rem;
    width: 100%;
}
.contact img {
    width: 30px;
}

@media (min-width: 500px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    .text-page-boarding {
        width: 400px;
        font-size: 1rem;
    }
    .btn-boarding {
        font-size: 1rem;
        padding: 8px 15px;
    }
    .footnote p {
        font-size: .8rem;
    }
}

@media (min-width: 768px) {
    .text-page-boarding {
        width: 500px;
    }
}
