* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
body {
    background-color: black;
    margin: 0 auto;
    min-height: 100vh;
}
.nav-ph {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
}
.logo-ph img {
    display: flex;
    filter: invert(100%);
    width: 100px;
}
.menu-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.btn-menu {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 30px;
    width: 30px;
}
.index-mobile a {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    color: white;
    font-size: 1rem;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    margin: 0 auto;
    gap: 40px;
}
.main-ph {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-ph {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}
.hero-ph img {
    width: 300px;
}
.sections-hogwarts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.section-text h1{
    margin: 0;
    color: #CEB13D;
    font-weight: 800;
    font-size: 1rem;
    text-align: center;
}
.section-text p{
    margin: 0;
    color: white;
    font-weight: 600;
    font-size: 0.6rem;
    text-align: center;
}
.section-text img {
    width: 200px
}
.section-img {
    display: flex;
    justify-content: center;
}
.section-img img{
    width: 130px
}
.btn-ph {
    border: none;
    border-radius: 30px;
    background-color: #CEB13D;
    padding: 2% 6%;
    margin-top: 6%;
}
.btn-ph a {
    color: black;
    font-size: 1rem;
}
.title-library {
    display: flex;
    align-items: center;
    padding: 15px 0
}
.img-library {
    width: 180px;
    padding: 15px 0;
}
.films h1 {
    color: #CEB13D;
    font-weight: 800;
    font-size: 1rem;
}
.books h1 {
    color: #CEB13D;
    font-weight: 800;
    font-size: 1rem;
}
.footnote {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    gap: 10px;
}
.footnote p {
    color: white;
    text-align: center;
    font-size: 0.6rem;
    width: 100%;
    margin: 0;
}
.contact img {
    width: 30px;
    filter: invert(100%);
}
.hidden {
    display: none;
}