* {
    box-sizing: border-box;
    overflow: hidden;
}
body {
    background-color: black;
    max-width: 1200px;
    margin: 0 auto;
}
.hero-ph {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-ph img {
    width: 100%;
}