* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.container {
    max-width: 300px;
    margin: 0 auto;
}
.title-quiz {
    padding: 30px 20px 10px 20px;
}
.title-quiz img {
    width: 200px;
}
.questions {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 35px;
    padding: 20px;
    width: 260px;
}
.question {
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    gap: 12px;
}
.quiz-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.houses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    color: white;
    font-size: .8rem;
}
.houses img {
    width: 150px;
    margin: 10px 0;
}
.footer-ph {
    margin-top: auto;
    bottom: 0;
}
.footnote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.footnote p {
    color: white;
    text-align: center;
    font-size: 0.6rem;
    width: 100%;
    margin-top: 20px;
}
.contact img {
    width: 30px;
    filter: invert(100%);
}
.hidden {
    display: none;
}